@charset "utf-8";

@import url(./style/reset.css);
@import url(./style/font.css);

* {
  outline: none;
}

html,
body {
  min-width: 320px;
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-size: 10px;
  background: rgba(60, 35, 35, 0.02);
  color: #3c2323;
  letter-spacing: -0.2px;
}

a {
  color: #253528;
  text-decoration: none;
}
button {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-size: 1rem;
  letter-spacing: -0.2px;
  line-height: 1;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
